:root {
  --redColor: #cc0033;
  --redColorLink: #e02e5b;
  --whiteColor: #fff;
  --blackColor: #000;
  --semiWhiteColor: #f4f4f4;
  --grayColor: #808080;
  --semiGrayColor: #888888;
  --semiGrayColor2: #c4c4c4;
  --semiBlackColor: #27282e;
  --orangeColor: #ff5f6d;
  --yellowColor: #ffc371;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}
body {
  font-family: Roboto-Regular;
}

/* nav header */
.row-nav-full {
  margin: auto;
}

.logo {
  color: var(--whiteColor);
  font-size: 26px;
}

.navbar-toggler {
  border: 3px solid var(--redColor);
  background-color: var(--whiteColor);
}
.dropdown-item {
  padding: 0px 1.5rem;
}

.navbar-nav .nav-link {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 4px;
}
.nav-item {
  margin: auto 5px;
  text-align: left;
  border-radius: 5px;
}
.nav-link {
  text-align: center;
  padding: 4px 20px;
  transition: 0.3s;
  border-radius: 5px;
  color: var(--blackColor) !important;
}

.navbar {
  transition: 0.5s;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapsing {
  border-radius: 15px;
  background-color: var(--redColor);
}
.navbar-collapse.collapse.show > .navbar-nav > .nav-item > .nav-link {
  color: var(--whiteColor) !important;
}
/* animation */
@keyframes slideToTop {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}
@keyframes maxHeight {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideToBottom {
  0% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

.item-dropdown,
.title-dropdown {
  padding: 20px 30px;
}
.dropdown-toggle::after {
  display: none !important;
}

.title-dropdown-item {
  color: var(--blackColor);
  padding: 5px;
  padding-left: 0;
  border-radius: 5px;
}

.navbar .dropdown .dropdown-menu {
  animation-name: slideToTop;
  box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0),
    0 2px 15px 0 rgba(92, 22, 22, 0.06);
  animation-duration: 0.8s;
  border: none;
}

.icon-dropdown {
  font-size: 14px;
  padding: 5px;
  transition: 0.6s;
}
/* nav header end */
/* banner */
.banner {
  padding-top: 80px;
  height: 100%;
}
.banner-content {
  margin: 20px 0;
}
.under-line {
  color: var(--blackColor);
  border-bottom: 5px solid var(--redColor);
  transition: all 0.3s ease 0s;
}
/* banner end */
/* top content */
.top-content {
  padding: 60px 0;
  background-color: var(--semiWhiteColor);
}
.top-content-details {
  margin: auto;
  padding: 30px 0;
  padding-right: 50px;
}
.col-top-content {
  padding: 30px;
  display: flex;
}
.top-content-box {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0),
    0 2px 15px 0 rgba(0, 0, 0, 0.06);
}
.top-content-item {
  padding: 15px;
  margin: auto;
}
.img-top-content {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn-top-content {
  padding: 30px 20px;
  margin-left: 30px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
}
.btn-top-content:hover {
  color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-7px);
}

/* top content end */
/* faq wwd */
.faq-wwd {
  padding: 60px 0;
}
.col-left-faq-wwd {
  position: relative;
}
.content-faq {
  padding: 10px 0;
  padding-right: 50px;
}
.btn-see {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 30px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
  margin-left: 15px;
}
.btn-see:hover {
  color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-7px);
}
.ui-accordion-header {
  background: #200122;
  background: linear-gradient(to right, var(--redColor), var(--whiteColor));
  padding: 7px 18px;
  color: var(--whiteColor);
  border: none;
  cursor: pointer;
}
/* template */
.accordion-container {
  position: relative;
  height: auto;
  margin: 10px auto;
}
.accordion-container > .faq-title {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.faq-content-box {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(to right, var(--redColor), var(--whiteColor));
  margin-bottom: 10px;
}
.faq-content-box > .faq-title {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s linear;
}
.faq-title {
  color: var(--whiteColor);
}
.icon-faq {
  color: var(--blackColor);
}
.faq-content-box > .faq-title .icon-faq {
  float: right;
  margin-top: 2px;
}
.content {
  background-color: var(--whiteColor);
  display: none;
}
.content .content-detail {
  padding: 10px 15px;
  margin: 0;
  color: var(--blackColor);
}
/* faq wwd end */
/* list post */
.title {
  padding-bottom: 20px;
  color: var(--blackColor);
  background: -webkit-linear-gradient(var(--orangeColor), var(--yellowColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease 0s;
}
.list-post-item {
  padding: 30px 0;
  border-bottom: 2px solid rgba(245, 74, 74, 0.8);
  margin-bottom: 20px;
}
.title-post-index {
  color: var(--blackColor);
  transition: all 0.3s ease 0s;
}
.title-post-index:hover {
  color: var(--redColorLink);
}
.list-post {
  padding: 60px 0;
}
.box-shadow-listpost {
  box-shadow: 0 8px 60px 0 rgb(75 79 87 / 41%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
}
.list-post-content {
  padding-bottom: 16px;
  margin: auto;
}
.btn-read-more {
  color: var(--redColorLink);
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}
.btn-read-more:hover {
  color: var(--redColorLink);
  opacity: 1;
}
/* list post end */
/* carousel slide*/
.carousel-slide {
  padding: 60px 0;
  background-color: var(--semiWhiteColor);
}
.carousel-border {
  border-radius: 5px;
}
.content-slide {
  padding: 10px 0;
  padding-right: 50px;
}
.content-carousel-slide {
  height: 160px;
  max-height: 200px;
}
.box-shadow-carousel {
  box-shadow: 0 3px 5px 0 rgba(158, 158, 158, 0),
    0 3px 16px 0 rgba(0, 0, 0, 0.06);
}
.img-carousel {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.col-left {
  position: relative;
}

.btn-checkout {
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
}

.btn-checkout:hover {
  color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-7px);
}
.item-center {
  margin: auto;
}
.content-carousel {
  font-size: 20px;
  padding: 15px;
}
.btn-read {
  color: var(--redColorLink);
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}
.btn-read:hover {
  color: var(--redColorLink);
  opacity: 1;
}

/* carousel slide end */
/* questions */
.question,
.question-contact {
  color: var(--blackColor);
  padding: 30px 0;
  margin: auto;
}
.question-contact {
  background-color: var(--whiteColor);
}
.question {
  background-color: var(--semiWhiteColor);
}

.question-details {
  display: flex;
  justify-content: space-around;
}
.question-title {
  text-align: center;
  margin: auto;
}
.btn-contact-us,
.btn-say-hello {
  padding: 20px;
  background-color: var(--whiteColor);
  border-radius: 50px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  margin-right: auto;
  color: var(--blackColor);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.btn-contact-us:hover,
.btn-say-hello:hover {
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: var(--blackColor);
  transform: translateY(-7px);
}
/* questions end */
/* footer */
.footer-top {
  background-color: var(--semiWhiteColor);
  color: var(--blackColor);
}
.footer-bottom {
  background-color: var(--semiBlackColor);
}
.contact-info {
  padding: 15px;
}
.social-link {
  display: block;
  text-align: center;
}
.social-media-icon {
  display: flex;
  justify-content: space-around;
}
.icon-contact {
  color: var(--whiteColor);
  font-size: 25px;
  padding: 7px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background-color: var(--redColorLink);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icon-contact:hover {
  background-color: var(--redColor);
  transition: 0.3s ease-in-out;
  transform: translateY(-7px);
}
.contacts {
  color: var(--blackColor);
  display: block;
}
.contact-phone,
.contact-mail {
  color: var(--blackColor);
  transition: 0.3s ease-in-out;
}
.contact-phone:hover,
.contact-mail:hover {
  color: var(--redColor);
}
.contact-content {
  padding-top: 20px;
  margin: 0;
}
.blog {
  text-align: left;
  list-style-type: none;
}
.blog-link {
  color: var(--blackColor);
}
.blog-link:hover {
  color: var(--redColorLink);
}
.blog-item {
  color: var(--blackColor);
  transition: all 0.3s ease 0s;
}
.blog-item:hover {
  color: var(--redColor);
}
.title-blog-contact {
  text-align: center;
}

.services {
  padding: 15px 0;
}
.services-detail {
  border-right: 3px solid var(--redColorLink);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
  padding-right: 4px;
}

.services-detail:hover {
  color: var(--redColor);
}
.services-detail:nth-child(1) {
  padding-left: 0;
}
.services-detail:nth-child(5) {
  border-right: none;
}
.copy-right {
  border-top: 1px solid var(--redColorLink);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--whiteColor);
}
.author-design-page {
  text-align: right;
  margin: 0;
}
/* footer end */
/* back to top */
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 25px;
  bottom: 35px;
  background-color: gray;
  color: white;
  opacity: 0.7;
  z-index: 99999;
  text-align: center;
}

.back-to-top > .fa-chevron-up {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.back-to-top:hover {
  color: var(--whiteColor);
  opacity: 1;
  transition: 0.2s ease-in-out;
}
/* !who page */
/* transfomation */
.transformation {
  padding-top: 100px;
}
.transform {
  background: url(../images/idea.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 50px 0;
}
.top-who-page-content {
  margin: auto;
  padding: 20px 80px;
  font-size: 20px;
}
.center-content-who-page {
  background: var(--whiteColor);
  background: radial-gradient(
    circle,
    rgba(204, 0, 51, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: white;
  text-align: center;
  padding: 30px 0;
  margin: 20px 0;
}
/* transformation end */
/* to-do-this */
.todo {
  padding: 60px 0;
}
/* to-do-this-end */
/* question who page */
.question-who-page {
  background-color: var(--semiWhiteColor);
}
/* question who page end*/
/* our story */
.our-story {
  padding: 60px 0;
}
.img-who-page {
  box-shadow: 7px 7px 5px var(--grayColor);
  margin: 10px 0 30px 0;
}
/* out story end */
/* working */
.working {
  background-color: var(--semiWhiteColor);
  padding: 60px 0;
}
/* working end */
/* !who page end */

/* !about us page */
.about-us-page {
  padding-top: 100px;
  padding-bottom: 30px;
}
.filter-by {
  padding: 10px 0;
  margin: 0;
}
.top-content-about-us {
  margin: auto;
}
/* clients */
.clients {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: var(--semiWhiteColor);
}
.btn-all-client {
  padding: 15px 20px;
  color: var(--blackColor);
  background-color: var(--grayColor);
}
.slick-slide {
  margin: 0 5px;
  border-radius: 7px;
  display: flex !important;
  text-align: center;
  justify-content: center;
}

.slick-slide img {
  width: 100%;
  border-radius: 7px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  padding: 10px 0;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.box-content-silde {
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-partner-client {
  padding: 7px;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide .img-partner-client {
  display: block;
}
.slick-slide.slick-loading .img-partner-client {
  display: none;
}
.slick-slide.dragging .img-partner-client {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.trusted-partners-list {
  padding: 10px 0;
}

.slick-prev:before,
.slick-next:before {
  color: var(--blackColor);
}
.slick-prev:hover:before,
.slick-next:hover:before {
  color: var(--redColorLink);
}
.btn-about-us-page {
  margin: auto;
  padding: 10px 50px;
  background-color: var(--whiteColor);
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  color: var(--blackColor);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.btn-go-join-us {
  margin-top: 50px;
  border-radius: unset;
  float: right;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-all-partners,
.btn-all-client {
  margin-top: 15px;
  float: left;
  padding: 10px 20px;
}
.btn-about-us-page:hover {
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: var(--blackColor);
  transform: translateY(-7px);
}

.input-file-custom {
  width: 100%;
  height: 40px;
  background-color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease 0s;
  position: relative;
}
.input-file-custom:hover {
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: var(--blackColor);
}
.custom-file-input[type="file"] {
  height: 40px;
  cursor: pointer;
}

.value-file {
  width: 400px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  line-height: 25px;
  text-indent: 10px;
  pointer-events: none;
}
/* clents end */
/* work with us */
.content-work-with-us {
  margin-left: 30px;
  padding-top: 0;
}
.box-btn-work {
  margin: auto;
}
.btn-work-with-us {
  font-size: 30px;
  float: left;
}
.work-with-us {
  padding: 60px 0;
  background-image: url(../images/businessman-working-background_1098-2078.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* wprk with us end */
/* the team */
.the-team {
  padding: 60px 0;
  background-color: var(--semiWhiteColor);
}
/* the team end*/
/* join us */
.join-us {
  padding: 60px 0;
}
.box-content-join-us {
  margin: auto;
}
.join-us-content {
  padding: 7px;
  background-color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.question-content-with-us {
  margin: 0;
}

.join-with-us-content-box {
  background-color: var(--whiteColor);
  color: var(--blackColor);
  font-size: 16px;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-text,
.input-email {
  padding-left: 5px;
  height: 40px;
  width: 100%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.upload-form {
  margin-top: 30px;
}

/* join us end*/
/* partners */
.trusted-partners-about-us {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: var(--semiWhiteColor);
}

/* partners end */
/* !about us page end*/
/* !partners page*/
.partners-page {
  padding-top: 100px;
  padding-bottom: 30px;
}
/* partners list */
.btn-back,
.btn-next,
.btn-share {
  border-radius: 4px;
  background-color: var(--redColorLink);
  border: none;
  color: var(--whiteColor);
  text-align: center;
  font-size: 20px;
  padding: 7px 20px;
  transition: all 0.5s;
  cursor: pointer;
  width: 150px;
  margin: auto;
}
.btn-back .move-back,
.btn-next .move-next {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-back .move-back:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.btn-next .move-next:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.partner-name {
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.active-partner {
  background-color: var(--redColor);
  color: var(--whiteColor);
  padding: 0 7px;
  border-radius: 10px;
}
.btn-back:hover .move-back {
  padding-left: 15px;
  color: var(--whiteColor);
}
.btn-next:hover .move-next {
  padding-right: 15px;
  color: var(--whiteColor);
}
.btn-share:hover {
  color: var(--whiteColor);
}
.btn-back:hover .move-back:after {
  opacity: 1;
  left: 0;
}
.btn-next:hover .move-next:after {
  opacity: 1;
  right: 0;
}
.partners-list {
  padding: 60px 0;
  background-color: var(--semiWhiteColor);
}
.title-partners {
  color: var(--whiteColor);
  padding: 5px;
}
.col-partners-list {
  display: flex;
  height: 300px;
  padding: 10px;
  background-color: transparent;
}
.partners-content-box {
  background-color: var(--whiteColor);
  color: var(--blackColor);
  font-size: 16px;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.working-content-box {
  margin: auto;
}

.box-partners {
  background-color: var(--redColor);
  transition: all 0.3s ease 0s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-partners:hover {
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  transform: translateY(-7px);
}
/* partners list end */
.working-with {
  padding: 60px 0;
}
.content-working-with {
  margin-left: 30px;
  padding-top: 0;
}
/* !partners page end*/
/* !trusted partners page*/
.trusted-partners {
  padding-top: 100px;
  padding-bottom: 30px;
}
.content-trusted-partners {
  width: 30%;
}
.list-trusted-partners {
  padding: 60px 0;
  background-color: var(--semiWhiteColor);
}
.btn-content-trusted {
  padding: 10px 30px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  margin-left: 15px;
  transition: all 0.3s ease 0s;
  float: right;
}
.btn-content-trusted:hover {
  color: var(--whiteColor);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-7px);
}
.title-page {
  margin-top: 30px;
}
.box-img-struted {
  margin: auto;
}
.title-post:hover {
  background: -webkit-linear-gradient(var(--redColorLink), var(--yellowColor));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.trusted-partners-details {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--redColor);
}
.question-contact {
  color: var(--blackColor);
  padding: 30px 0;
  margin: auto;
}
/* !trusted partners page end*/
/* !the team page*/
.list-team {
  padding: 60px 0;
}
.the-team-page {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: var(--semiWhiteColor);
}
.list-title-team {
  height: 40px;
  list-style: none;
}
.box-info-the-team {
  display: flex;
  justify-content: space-around !important;
}
.title-team {
  padding: 7px 14px;
  margin-right: 10px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
  float: left;
  cursor: pointer;
}
.title-team:hover {
  color: var(--whiteColor);
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  transform: translateY(-7px);
}
.img-detail-team {
  padding: 30px 0;
}
.join-us-the-team {
  padding: 60px 0;
  background-color: var(--semiWhiteColor);
}
.box-detail-us {
  margin: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.img-detail-us {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* !the team page end*/
/* !what we do */
.what-we-do {
  padding-top: 100px;
  padding-bottom: 30px;
}
.bg-info-wwd {
  background-color: var(--semiWhiteColor);
}
.box-content-wwd {
  padding: 25px 0;
}
.btn-read-how {
  float: left;
}
.btn-read-more-wwd,
.btn-view-more {
  float: right;
}
.btn-view-more {
  margin-top: 20px;
}

.btn-wwd {
  padding: 7px 15px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
}
.active-show-info {
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
}
.btn-wwd:hover {
  color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-7px);
}
.line-bottom {
  border-bottom: 1px solid var(--redColorLink);
  padding-bottom: 20px;
}
.img-case {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.more-info {
  padding: 60px 0;
}
.list-case-link {
  color: var(--blackColor);
  padding: 0 5px;
}
.case-sdtudies {
  padding-top: 60px;
  padding-bottom: 100px;
}
.line-right {
  border-right: 2px solid var(--blackColor);
  padding-right: 5px;
}
.links-info {
  color: var(--blackColor);
}
.link-content {
  margin: auto;
}
.case-studies-content-box-wwd {
  border-bottom: 1px solid var(--redColorLink);
}
/* !what we do end*/
/* !case studies */
.case-studies-page {
  padding-top: 100px;
  padding-bottom: 30px;
}
.list-case-sdtudies {
  padding-bottom: 60px;
}
.box-case {
  padding: 40px 0;
}
.list-post-container {
  border-bottom: 1px solid var(--blackColor);
  margin: 40px 0;
  padding: 15px 0;
}
.case-name {
  color: var(--blackColor);
}
.control-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

/* !case studies end*/
/* !post detail */
.post-detail-page {
  padding-top: 100px;
}
.detail-title {
  padding: 10px;
  color: var(--blackColor);
  background-color: var(--semiWhiteColor);
}
.author:hover {
  color: var(--redColorLink);
}
.reading-time {
  padding: 0 15px;
}
.category-post-blog {
  padding: 7px 10px;
  background-color: var(--redColorLink);
  color: var(--whiteColor);
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.category-post-blog:hover {
  color: var(--whiteColor);
  box-shadow: 0px 3px 20px rgba(229, 46, 46, 0.4);
}
.top-post-content {
  padding: 50px 0;
}
.post-content-detail {
  border: 1px solid var(--blackColor);
  padding: 30px;
}
.post-detail {
  padding: 20px 60px 60px 60px;
}
.btn-see-action {
  padding: 10px 15px;
  background-color: var(--redColor);
  float: right;
  color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease 0s;
}
.btn-see-action:hover {
  color: var(--whiteColor);
  box-shadow: 0px 3px 20px rgba(229, 46, 46, 0.4);
}

.bg-gray {
  background-color: var(--semiWhiteColor);
}
.bg-content-2 {
  background-color: var(--whiteColor);
}
.quotes {
  padding: 30px 0;
}
.quotes-content {
  text-align: center;
  width: 600px;
  margin: auto;
}
.quotes-content-details {
  margin: auto;
}
.btn-detail-post {
  margin-top: 0;
}
/* !post detail end*/
/* !how we work*/
.how-we-work {
  padding-top: 100px;
  padding-bottom: 30px;
}
.how-we-work-top-content {
  width: 100%;
}
.how-we-work-center-content {
  margin: auto;
}
.faq-how-we-work {
  padding: 10px 0;
}
.btn-read-hww {
  padding: 7px 15px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  transition: all 0.3s ease 0s;
  float: left;
}
.img-faq-hww {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-read-hww:hover {
  color: var(--whiteColor);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-7px);
}
/* !how we work end*/
/* !let talk */
.contact-form {
  padding: 60px 0;
}
.lets-talk {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: var(--semiWhiteColor);
}
.lbl-input-lets-talk {
  margin-top: 20px;
}
.contact-us-info {
  margin: auto;
}
.col-form-contact {
  padding-right: 50px;
}
.lets-talk-info {
  padding: 20px 0;
}
.btn-box {
  margin: auto;
}
.form-contact-clients {
  background-color: var(--semiWhiteColor);
  padding: 30px;
  border-radius: 5px;
}
.btn-go-lets-talk {
  position: relative;
  top: 30px;
  float: right;
  padding: 7px 40px;
  border-radius: unset;
  background-color: var(--whiteColor);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease 0s;
}
.btn-go-lets-talk:hover {
  box-shadow: 0px 3px 20px rgba(229, 46, 46, 0.4);
  transform: translateY(-7px);
}
.social-icon-box {
  padding-top: 15px;
}
.icon-contact-lets-talk {
  font-size: 40px;
  padding: 7px;
  width: 55px;
  height: 55px;
}
.social-media-lets-talk {
  display: flex;
  justify-content: space-around;
}
.calendar-wrapper {
  box-shadow: 0 3px 5px 0 rgba(158, 158, 158, 0),
    0 3px 16px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 30px;
}
/* !let talk end*/
/* !think pieces */
.think-pieces {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: var(--semiWhiteColor);
}
.select-box {
  display: inline-flex;
}
.categories-pieces {
  padding: 30px 0;
}
.list-think-pieces {
  padding-bottom: 60px;
}
.categories-pieces {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.category-title {
  margin: auto 0;
  padding: 0 15px;
}
.box-pieces-link {
  list-style: none;
  display: flex;
  margin: auto 0;
}
.categories-pieces-link {
  color: var(--blackColor);
  padding: 7px 20px;
  border-radius: 50px;
  margin: auto 7px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease 0s;
}
.categories-pieces-link.flters-active {
  color: var(--whiteColor);
  background-color: var(--redColorLink);
}
.img-hover-zoom {
  overflow: hidden;
}
.img-list-blog {
  transition: transform 0.5s ease;
}
.blog-detail-link:hover .img-list-blog {
  transform: scale(1.5);
}
.box-pieces {
  padding: 20px;
  display: flex;
}
.box-bt-img {
  border-bottom: 1px solid var(--blackColor);
}
.box-content-pieces {
  border: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-content-pieces:hover {
  box-shadow: 0px 3px 20px rgba(229, 46, 46, 0.4);
}
.content-pieces {
  color: var(--blackColor);
  padding: 10px 20px;
}
/* !think pieces end*/
/* !blog detail */
.blog-detail-page {
  padding-top: 100px;
  padding-bottom: 30px;
}
.blog-detail {
  padding: 30px 0;
}
.category-blog {
  padding: 7px 10px;
  background-color: var(--semiWhiteColor);
  border-radius: 5px;
}

.blog-detail-box {
  position: relative;
  height: 100vh;
}
.blog-detail-content,
.blog-detail-content-2 {
  content: "";
  position: absolute;
  width: 650px;
  background-color: var(--whiteColor);
  border: 1px solid var(--blackColor);
  padding: 15px;
  z-index: 1;
}
.blog-detail-content {
  top: 300px;
  right: 0;
}
.img-blog-detail-2 {
  float: right;
}
.blog-detail-content-2 {
  left: 0;
  top: 300px;
}

.author,
.list-blog-link {
  color: var(--blackColor);
  padding: 0 5px;
}
/* !blog detail end*/
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
/* .dropdown-item:hover {
    background-color: var(--redColor);
    color: var(--blackColor) !important;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    margin: auto 10px;
  }
  .navbar .dropdown-menu {
    visibility: hidden;
  }
  .navbar .dropdown .dropdown-menu {
    transition-delay: 100ms;
  }
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
  } */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media screen and (max-width: 991.98px) {
  .icon-contact {
    font-size: 35px;
    width: 50px;
    height: 50px;
  }
  .item-dropdown,
  .title-dropdown {
    padding: 0 15px;
  }
  .item-dropdown {
    font-size: 14px;
  }
  .title-dropdown-item {
    font-size: 20px;
  }
  .title-dropdown {
    font-size: 22px;
  }
  .btn-contact-us,
  .btn-say-hello {
    margin: auto;
  }
  .content-slide {
    padding: 10px 0;
    text-align: center;
  }
  .box-btn-work {
    margin-top: 30px;
  }
  .top-who-page-content {
    padding: 20px 0;
  }
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -15px;
  }
  .btn-all-partners,
  .btn-all-client {
    float: unset;
  }
  .slick-slider {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .trusted-partners-about-us,
  .clients {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .the-team,
  .join-us {
    padding: 30px 0;
  }
  .title-menu {
    font-size: 20px;
  }
  .subtitle-dropdown-item {
    display: none;
  }

  .navbar-brand {
    padding: 0;
  }
  .title-dropdown {
    display: none;
  }
  .navbar .dropdown .dropdown-menu {
    animation-name: slideToTop;
  }
  .top-who-page-content {
    padding: 20px 0;
  }
  .content-about-us-page {
    text-align: center;
  }
  .upload-form,
  .input-email-form,
  .btn-go-join-us {
    margin-top: 15px;
  }
  .box-btn-ctrl {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .box-img-case {
    display: none;
  }
  .box-img-struted {
    display: none;
  }
  .content-trusted-partners {
    width: auto;
  }
  .btn-content-trusted {
    margin: 0;
  }
  .box-btn-control {
    display: flex;
    justify-content: space-between;
  }
  .btn-wwd {
    margin-top: 15px;
  }
  .box-img-wwd {
    display: none;
  }
  .box-wwd {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-box-case {
    display: none;
  }
  .btn-work-with-us {
    font-size: 20px;
  }
  .btn-go-join-us {
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-checkout {
    position: unset;
    padding: 15px 10px;
    margin: auto;
    margin-bottom: 20px;
  }
  .btn-see {
    position: unset;
    padding: 15px 10px;
    margin: auto;
  }
  .btn-box {
    display: flex;
  }
  .col-right-faq-wwd {
    margin-top: 40px;
  }
  .btn-top-content {
    padding: 15px 10px;
    margin: auto;
  }
  .top-content-details {
    padding: 20px 0;
  }
  .question-details {
    flex-direction: column;
  }
  .question-title {
    margin-bottom: 10px;
  }
  .btn-contact-us {
    padding: 15px 10px;
    width: 150px;
  }
  .contact-info {
    padding: 15px;
  }
  .services {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .services-detail {
    border-right: none;
  }
  .services-detail-box {
    padding: 10px 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* nav */
  .dropdown-item {
    text-align: center;
  }
  .navbar.hidden {
    transform: translateY(-100%);
  }
  .title-dropdown-item,
  .nav-link,
  .title-dropdown {
    font-size: 17px;
  }
  /* nav end */
  .btn-checkout {
    position: unset;
    padding: 15px 10px;
    margin: auto;
    margin-bottom: 20px;
  }
  .btn-see {
    position: unset;
    padding: 15px 10px;
    margin: auto;
  }
  .btn-box {
    display: flex;
  }
  .col-right-faq-wwd {
    margin-top: 40px;
  }
  .btn-top-content {
    padding: 15px 10px;
    margin: auto;
  }
  .top-content-details {
    padding: 20px 0;
  }
  .question-details {
    flex-direction: column;
  }
  .question-title {
    margin-bottom: 10px;
  }
  .btn-contact-us {
    padding: 15px 10px;
    width: 150px;
  }
  .contact-info {
    padding: 15px;
  }

  .services {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .services-detail {
    border-right: none;
  }
  .services-detail-box {
    padding: 10px 0;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* nav */
  .navbar.hidden {
    transform: translateY(-100%);
  }
  .dropdown-item {
    text-align: center;
  }
  .title-dropdown-item,
  .nav-link,
  .title-dropdown {
    font-size: 16px;
  }
  /* nav end */
  .btn-checkout {
    position: unset;
    padding: 15px 10px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .btn-see {
    position: unset;
    padding: 15px 10px;
    margin: auto;
  }
  .btn-box {
    display: flex;
  }
  .col-right-faq-wwd {
    margin-top: 40px;
  }
  .btn-top-content {
    padding: 15px 10px;
    margin: auto;
  }
  .top-content-details {
    padding: 20px 0;
  }
  .question-details {
    flex-direction: column;
  }
  .question-title {
    margin-bottom: 10px;
  }
  .btn-contact-us {
    padding: 15px 10px;
    width: 150px;
  }
  .contact-info {
    padding: 15px;
  }

  .services {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .services-detail {
    border-right: none;
  }
  .services-detail-box {
    padding: 10px 0;
  }
  .info-left,
  .info-right {
    text-align: center;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0px;
  }
}
@media screen and (max-height: 400px) {
  .navbar-collapse.show {
    height: 200px;
    overflow: auto;
  }
}
/* library calendar*/
.mbsc-page {
  min-height: auto;
}
.mbsc-calendar-header {
  background-color: var(--semiWhiteColor);
}
